@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.light,
[data-theme="light"] {
	--ac-primary: 96, 165, 250;
	--ac-secondary: 243, 244, 246;
}

.dark,
[data-theme="dark"] {
	--ac-primary: 59, 130, 246;
	--ac-secondary: 229, 231, 235;
}
