@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-light: #ffffff;
	--background-dark: #121212;
}

html {
	--transition-speed: 0.3s;
	--transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	transition: background-color var(--transition-speed) var(--transition-easing),
		color var(--transition-speed) var(--transition-easing);
}

/* Efeito de fade e zoom sutil */
.theme-transition {
	transition: background-color var(--transition-speed) var(--transition-easing),
		transform var(--transition-speed) var(--transition-easing), opacity
		var(--transition-speed) var(--transition-easing);
}

.dark .theme-transition {
	transform: scale(1.01);
	opacity: 0.95;
}

/* Animação de rotação sutil para elementos */
.theme-rotate-transition {
	transition: transform var(--transition-speed) var(--transition-easing),
		background-color var(--transition-speed) var(--transition-easing);
}

.dark .theme-rotate-transition {
	transform: rotate(2deg);
}

/* Transição de gradiente */
.gradient-transition {
	background-size: 200% 200%;
	animation: gradient-shift 10s ease infinite;
	transition: background-color var(--transition-speed) var(--transition-easing);
}

.dark .gradient-transition {
	animation-direction: reverse;
}

@keyframes gradient-shift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
