---
import Button from "@/components/ui/Button.astro";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const pages = [
    {
      slug: undefined,
      title: "Astro Store",
      text: "Welcome to the Astro store!",
    },
    {
      slug: "lp-psicologia",
      title: "Lading Page de Psicologia",
      text: "Em Breve",
    },
    {
      slug: "agenda-paragominas",
      title: "Agenda Paragominas",
      text: "Em Breve",
    },
    {
      slug: "blog-mdx",
      title: "Blog MDX",
      text: "Em Breve",
    },
    {
      slug: "sunclean-energia-solar",
      title: "Sunclean Energia Solar",
      text: "Em Breve",
    },
    {
      slug: "cardapio-digital",
      title: "Cardápio digital",
      text: "Em Breve",
    },
    {
      slug: "dieta-ai",
      title: "Dieta AI",
      text: "Em Breve",
    },
  ];
  return pages.map(({ slug, title, text }) => {
    return {
      params: { slug },
      props: { title, text },
    };
  });
}

const { title, text } = Astro.props;
---

<Layout title={title}>
  <div
    class="py-20 min-h-[80vh] max-w-screen-lg mx-auto md:px-0 px-4 text-center items-center flex flex-col gap-4 justify-center"
  >
    <h1 class="text-2xl font-medium">{title}</h1>
    <span class="text-5xl">{text}</span>
    <Button variant="primary" href="/" class="mt-4">Voltar para a Home</Button>
  </div>
</Layout>
