---
import Button from "@/components/ui/Button.astro";
import { projects } from "@/data/projects";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  return projects.map(({ slug, name, description }) => {
    return {
      params: { slug },
      props: { name, description },
    };
  });
}

const { name, description } = Astro.props;
---

<Layout title={name}>
  <div
    class="py-20 min-h-[80vh] max-w-screen-lg mx-auto md:px-0 px-4 text-center items-center flex flex-col gap-4 justify-center"
  >
    <h1 class="text-2xl font-medium">{name}</h1>
    <span class="text-5xl">{description}</span>
    <Button variant="primary" href="/" class="mt-4">Voltar para a Home</Button>
  </div>
</Layout>
