---
import Contato from "@/components/sections/Contato.astro";
import Hero from "@/components/sections/Hero.astro";
import { ListaDeProjetos } from "@/components/ListaDeProjetos";
import Servicos from "@/components/sections/Servicos.astro";
import Sobre from "@/components/sections/Sobre.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Vinícius Reis | Desenvolver Front-end">
  <Hero />
  <Sobre />
  <Servicos />
  <section
    id="projetos"
    class="max-w-screen-lg mx-auto md:py-24 py-10 md:mt-20 md:mb-10 mx:px-0 px-4 md:min-h-auto min-h-[80vh]"
  >
    <div class="flex flex-col gap-4 mb-4" data-aos="fade-right">
      <span
        class="md:text-xl text-base font-semibold uppercase dark:text-primary-dark text-primary-light"
        >Meus projetos</span
      >
      <h2 class="md:text-5xl text-3xl">Conheça um pouco do meu trabalho</h2>
    </div>
    <ListaDeProjetos client:only="react" data-aos="fade-up" />
  </section>
  <Contato />
</Layout>
