---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="w-full py-4">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between">
    <a href="/" class="text-xl font-bold font-mono"
      >vinidev<span class="animate-ping">_</span></a
    >
    <div>
      <ThemeToggle />
    </div>
  </div>
</header>
