---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="w-full py-4">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between">
    <a href="">Logo</a>
    <div>
      <ThemeToggle />
    </div>
  </div>
</header>
