---
import MobileMenu from "./MobileMenu.astro";
import Nav from "./Nav.astro";
import SocialNav from "./SocialNav.astro";
import ThemeToggle from "./ThemeToggle.astro";

const script = `
document.addEventListener('scroll', () => {
  const header = document.querySelector('header');
  if (window.scrollY > 0) {
    header.classList.add('bg-background-light/60', 'dark:bg-background-dark/60', 'backdrop-blur-md');
  } else {
    header.classList.remove('bg-background-light/60', 'dark:bg-background-dark/60', 'backdrop-blur-md' );
  }
});
`;
---

<header class="w-full py-4 z-10 sticky top-0">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between">
    <div class="flex items-center gap-8">
      <a href="/" class="text-xl font-bold font-mono"
        >vinidev<span class="animate-ping">_</span></a
      >
      <Nav />
    </div>
    <div class="flex items-center gap-2">
      <SocialNav />
      <span class="text-zinc-600 font-thin">|</span>
      <ThemeToggle />
    </div>
  </div>
</header>

<script set:html={script} />
