---
import Button from "./ui/Button.astro";
---

<section class="max-w-screen-xl mx-auto py-20">
  <div class="flex flex-col gap-8 items-center">
    <h1 class="text-5xl font-medium text-center">
      Desenvolvedor Front-end <br />& Freelancer
    </h1>
    <p class="text-xl text-center max-w-screen-md">
      Do conceito inicial à implementação final, dou forma às suas ideias. Que
      tal trabalharmos juntos para desenvolvermos um projeto que vai se destacar
      na internet?
    </p>

    <div class="flex items-center gap-4">
      <Button href="" variant="primary"> Solicitar orçamento </Button>
      <Button href="" variant="secondary"> Fale comigo </Button>
    </div>
  </div>
</section>
