---
import { ArrowRight } from "lucide-react";
import { FaWhatsapp } from "react-icons/fa";
import Button from "./ui/Button.astro";
---

<section
  class="max-w-screen-xl mx-auto md:py-20 py-10 mt-20 mb-20 md:h-[80vh] md:px-0 px-4"
>
  <div class="flex flex-col gap-8 items-center">
    <h1 class="md:text-5xl text-2xl font-medium text-center">
      Desenvolvedor Front-end <br />& Freelancer
    </h1>
    <p class="md:text-xl text-lg text-center max-w-screen-md">
      Do conceito inicial à implementação final, dou forma às suas ideias. Que
      tal trabalharmos juntos para desenvolvermos um projeto que vai se destacar
      na internet?
    </p>

    <div class="flex items-center gap-4 md:flex-row flex-col">
      <Button href="" variant="primary">
        Solicitar orçamento <ArrowRight size={17} /></Button
      >
      <Button href="" variant="secondary"> Fale comigo <FaWhatsapp /></Button>
    </div>
  </div>
</section>
