---
import Button from "@/components/ui/Button.astro";
import { ArrowRight } from "lucide-react";
import { FaWhatsapp } from "react-icons/fa";
const zap = "https://wa.me/5591992761377";
---

<section
  class="max-w-screen-xl mx-auto md:py-20 py-10 mt-20 md:mb-0 mb-20 md:min-h-[90vh] min-h-[65vh] md:px-0 px-4"
>
  <div class="flex flex-col gap-8 items-center">
    <h1 class="md:text-5xl text-3xl font-medium text-center">
      Desenvolvedor Front-end <br />& Freelancer
    </h1>
    <p class="md:text-xl text-base text-center max-w-screen-md">
      Do conceito inicial à implementação final, dou forma às suas ideias. Que
      tal trabalharmos juntos para desenvolvermos um projeto que vai se destacar
      na internet?
    </p>

    <div class="flex items-center gap-4 md:flex-row mt-4 flex-col">
      <Button href={zap} target="_blank" variant="primary">
        Solicitar orçamento <ArrowRight size={17} /></Button
      >
      <Button href={zap} target="_blank" variant="secondary">
        Fale comigo <FaWhatsapp /></Button
      >
    </div>
  </div>
</section>
