---
const navLink = [
  { href: "/#sobre", name: "Sobre" },
  { href: "/#servicos", name: "Serviços" },
  { href: "/#projetos", name: "Projetos" },
  { href: "/#contato", name: "Contato" },
  /* { href: "/coffee", name: "Contribuir" }, */
];
const { mode = "desktop" } = Astro.props;
---

<nav class={mode === "desktop" ? "md:flex gap-4 items-center hidden" : "flex flex-col gap-6 md:hidden"}>
  {
    navLink.map((link) => (
      <a
        href={link.href}
        class=" hover:text-primary uppercase text-sm transition-colors duration-200"
        data-link
      >
        {link.name}
      </a>
    ))
  }
</nav>

<script>
  const navLinks = document.querySelectorAll("[data-link]");

  function setActiveLink() {
    let current = "";
    navLinks.forEach((link) => {
      const href = link.getAttribute("href");
      if (!href) return;
      const hasHash = href.includes("#");
      if (!hasHash) return;
      const hash = "#" + href.split("#")[1];
      const section = document.querySelector(hash);
      if (section instanceof HTMLElement) {
        const sectionTop = section.offsetTop - 200;
        if (window.scrollY >= sectionTop) {
          current = hash;
        }
      }
    });

    navLinks.forEach((link) => {
      const href = link.getAttribute("href");
      if (!href) return;
      const hasHash = href.includes("#");
      const comparable = hasHash ? "#" + href.split("#")[1] : href;
      link.classList.toggle("text-primary", comparable === current);
    });
  }

  window.addEventListener("scroll", setActiveLink);
  setActiveLink(); // Executa ao carregar a página
</script>
