---
import { Accordion, AccordionItem } from "free-astro-components";
import { services } from "../data/services.ts";
---

<section
  id="servicos"
  class="max-w-screen-lg mx-auto py-20 md:mt-10 md:min-h-[90vh] mx:px-0 px-4"
>
  <div class="flex md:gap-20 gap-10 md:flex-row flex-col-reverse">
    <div class="w-full">
      <Accordion>
        {
          services.map((service) => (
            <AccordionItem title={service.title}>
              <p>{service.description}</p>
            </AccordionItem>
          ))
        }
      </Accordion>
    </div>
    <div class="flex flex-col gap-4">
      <span
        class="md:text-xl text-base font-semibold uppercase dark:text-primary-dark/60 text-primary-light/80"
        >O que eu faço</span
      >
      <h2 class="md:text-5xl text-3xl">
        Formas de como eu posso ajudar você ou sua empresa
      </h2>
    </div>
  </div>
</section>
