---
import { Tab, TabItem } from "free-astro-components";
import { skills } from "../data/skills";
---

<section class="max-w-screen-lg mx-auto py-20 min-h-[90vh]" id="sobre">
  <div class="flex gap-10">
    <!-- Foto  -->
    <div class="min-w-[25vw]">
      <div class="rounde-md">
        <img
          src="https://github.com/vinicius-dsr.png"
          alt="Foto de Vinícius Reis, Desenvolvedor Front-end"
          class="objecct-cover w-full h-full rounded-md"
        />
      </div>
    </div>

    <!-- Tabs sobre mim -->
    <div class="w-full">
      <Tab
        tabs={[
          { label: "Sobre mim", active: true },
          { label: "Minhas habilidades" },
        ]}
        ><TabItem active
          ><h2 class="text-2xl font-medium mb-4">
            Desenvolvedor Front-end e apaixonado por tecnologia
          </h2><p class="text-lg">
            Com vasto conhecimento em desenvolvimento e UI/UX design, tenho me
            dedicado em desenvovimento web em geral, como Landing Pages,
            E-commerces, Blogs, Dashboard etc. Atualmente minha especialidade é
            desenvolvimento Front-end. Resido em Paragominas/PA, onde atuo como
            freelancer.
          </p></TabItem
        ><TabItem
          ><h2 class="mb-4 text-2xl font-medium">
            Especializado nas principais tecnologias disponíveis no mercado.
          </h2>
          <div class="flex flex-wrap items-center gap-4">
            {
              skills.map((skill) => (
                <div class="border rounded-xl p-4 dark:border-zinc-800 border-zinc-300">
                  <skill.icon size={32} />
                </div>
              ))
            }
          </div>
        </TabItem></Tab
      >
    </div>
  </div>
</section>
