---
import { skills } from "@/data/skills";
import { Tab, TabItem } from "free-astro-components";
---

<section
  class="max-w-screen-lg mx-auto md:py-20 md:mt-10 py-10 md:min-h-[90vh] mx:px-0 px-4"
  id="sobre"
>
  <div class="flex gap-10 md:flex-row flex-col" data-aos="fade-right">
    <!-- Foto  -->
    <div class="md:min-w-[25vw] w-full">
      <div class="rounde-md">
        <img
          src="/foto-vinicius.webp"
          alt="Foto de Vinícius Reis, Desenvolvedor Front-end"
          class="object-fill w-full h-auto rounded-md"
        />
      </div>
    </div>

    <!-- Tabs sobre mim -->
    <div class="w-full">
      <Tab
        tabs={[
          { label: "Sobre mim", active: true },
          { label: "Minhas habilidades" },
        ]}
        ><TabItem active
          ><h2 class="md:text-2xl text-xl font-medium md:mb-4 mb-5">
            Desenvolvedor Front-end e apaixonado por tecnologia
          </h2><p class="md:text-lg text-base">
            Com vasto conhecimento em desenvolvimento e UI/UX design, tenho me
            dedicado em desenvovimento web em geral, como Landing Pages,
            E-commerces, Blogs, Dashboard etc. Atualmente minha especialidade é
            desenvolvimento Front-end. Resido em Paragominas/PA, onde atuo como
            freelancer.
          </p></TabItem
        ><TabItem
          ><h2 class="mb-4 md:text-2xl text-xl font-medium">
            Especializado nas principais tecnologias disponíveis no mercado.
          </h2>
          <div class="flex flex-wrap items-center gap-3">
            {
              skills.map((skill) => (
                <div class="border rounded-xl p-4 dark:border-zinc-800 border-zinc-300 flex flex-col items-center gap-2">
                  <skill.icon size={28} />
                  <span class="text-sm">{skill.name}</span>
                </div>
              ))
            }
          </div>
        </TabItem></Tab
      >
    </div>
  </div>
</section>
