---
import { links } from "../data/socialLinks";
---

<div class="md:flex items-center gap-4 px-2 hidden">
  {
    links.map((link) => (
      <a
        href={link.href}
        target="_blank"
        class="hover:text-primary transition-colors"
      >
        <link.icon />
      </a>
    ))
  }
</div>
