---
const { title } = Astro.props;
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Vinícius Reis | Desenvolver front-end focando em desenvolvimento de websites e landig pages. Projeto sempre tendo em vista a melhor experiência do usuário, alinhada com um bom visual e o propósito/objetivo do projeto."
    />
    <meta
      name="keywords"
      content="
      Freelancer, Desenvolvedor Front-end, Web Designer, Programador, Designer, E-commerce Paragominas, UI/UX, UI, UX, Vinícius Reis, vinidev"
    />
    <meta name="author" content="Vinícius Reis" />

    <meta
      property="og:title"
      content="Vinícius Reis - Designer & Desenvolvedor Front-end"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://github.com/vinicius-dsr.png" />
    <meta property="og:url" content="https://vinidev.tech" />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark antialiased scroll-smooth"
  >
    <div
      class="absolute top-0 z-[-2] right-0 h-screen w-screen bg-background-light dark:bg-background-dark bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
